VITE_SUPABASE_URL=https://bhlcfydwjiegjozbedtb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJobGNmeWR3amllZ2pvemJlZHRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MzE5MjIsImV4cCI6MjA4OTUwNzkyMn0.KhtwBbR0xaf-PPQoKtVD39IIHjuJNVC2EPaDMIHB4DI
VITE_DEV_BYPASS=false
